body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, serif;
}

/*hero section*/

.hero {
  background-color: #1f2937;
  padding-bottom: 100px;
}

.header {
  display: flex;
  justify-content: space-around;
  gap: 165px;
  padding-bottom: 50px;

}

.hero-logo {
  font-size: 24px;
  color: #f9faf8;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

ul{
  display: flex;
  gap: 20px;
  width: 400px;
}

.herolink-text {
  font-size: 18px;
  color: #e5e7eb; 
  text-decoration: none;
}

.hero-main {
  display: flex;
  justify-content: space-around; 
}

.herotext-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.heromain-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.herosecondary-text {
  color: #f9faf8;
  font-size: 18px;
  display: flex;
  justify-content: center;
  width: 400px;
}

.img-placeholder {
  color: white;
  background-color: #737373;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 390px;
  font-size: 18px;
}

button {
  color: #f9faf8;
  background-color: #3882f6;
  border: none;
  border-radius: 6px;
  padding: 5px;
  font-weight: bold;
  width: 115px; 
  cursor: pointer; 
}

/*randominfo-section*/

.randominfo-section {
  background-color: rgb(255, 255, 255);
  padding: 30px;

}

.information-header {
  color:#1F2937;
  font-size: 36px;
  font-weight: 800;
  display: flex;
  justify-content: center;

}

.img-container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.img {
  height: 40px;
  width: 40px;
  border: 3px solid #3882f6;
  padding: 50px;  
  border-radius: 15px;
  margin-top: 40px;
}

.img-text {
  width: 140px;
  text-align: center;
}

/*quote-section*/

.quote-section {
  background-color:#E5E7EB;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.quote {
  width: 760px;
  font-size: 36px;
  color: #1f2937;
  font-style: italic; 
}

.author {
  display: flex;
  justify-content: flex-end;
  width: 715px;
  font-weight: bold;
}

/*calltoaction-section*/

.calltoaction-section {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
}

.call-to-action {
  background-color: #3882F6;
  color: #f9faf8;
  display: flex;
  justify-content: space-around;
  padding: 20px 40px;
  border-radius: 4px;
  width: 700px;
}

.calltoaction {
  font-weight: bold;
}

/*footer section*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: white;
  padding: 20px;
}

.footer-button {
  border: 1.5px solid rgb(255, 255, 255); 
}
