body {
  height: 100vh;
  margin: 0;
  font-family: Roboto;
}

.hero {
  background-color: #1f2937;
  margin: 0;
  padding: 30px;
  
}

.hero-logo {
  font-size: 24px;
  color: #f9faf8;
  
}

.hero-link-text {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero-secondary-text {
  color: #f9faf8;
  font-size: 18px;
  display: flex;
  justify-content: center;
  width: 400px;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  gap: 200px;
}

.hero-main {
  display: flex;
  justify-content: space-around;
  
}

.herotext-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.hero-main-text{
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

button {
  color: #f9faf8;
  background-color: #3882f6;
  border: none;
  border-radius: 6px;
  padding: 5px;
  font-weight: bold;
  width: 115px; 
  cursor: pointer;
}

.image-placeholder {
  color: #f9faf8;
  background-color: #7e7e7e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 390px;
  font-size: 18px;
}

ul{
  padding: 0;
  margin: 0;
}


/*make changes to class below*/
.top-heading {
  display: flex;
  justify-content: space-around;
}



p {
  font-size: 18px;
  color: #F9FAF8;
}

.random-info-section {
  background-color: rgb(255, 255, 255)

}

.information-header {
  color:#1F2937;
  font-size: 36px;
  font-weight: 800;
  display: flex;
  justify-content: center;

}

.quote-section {
  background-color:#E5E7EB;
  padding: 30px;
 
}

.quote {
  display: flex;
  justify-content: center;
  width: 320px;

}

.call-to-action-section{
  padding: 100px;
}

.call-to-action{
  background-color: #3882F6;
  color: #F9FAF8;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: white;
  padding: 20px;
}
